<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Your profile')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
	</div>

	<div class="container-fluid col-md-6 offset-md-3"
		th:each="user: ${userObject}">
		<h4 class="pt-4 text-center">[[${pageTitle}]]</h4>

		<div class="border border-secondary rounded p-5">
			<div class="form-group row">
			<label class="col-sm-3 col-form-label"><b>User ID: </b></label>
			<div class="mt-2">[[${user.id}]]</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label"><b>First Name: </b></label>
			<div class="mt-2">[[${user.firstName}]]</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label"><b>Last Name: </b></label>
			<div class="mt-2">[[${user.lastName}]]</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label"><b>Email: </b></label>
			<div class="mt-2">[[${user.email}]]</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label"><b>age: </b></label>
			<div class="mt-2">[[${user.age}]]</div>
		</div>
		</div>

	</div>
</body>
</html>